@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';

html {
  box-sizing: border-box;
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2.5px rgba(100, 100, 100, 0.1);
    box-shadow: inset 0 0 2.5px rgba(100, 100, 100, 0.1);
    border-radius: 3px;
    background: rgba(144,147,153,.2);
    opacity: 0.7;
    transition: opacity ease-in-out 200ms;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }
  /*三角箭头的颜色*/
  scrollbar-arrow-color: #fff;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: rgba(144,147,153,.2);
  /*滚动条整体颜色*/
  scrollbar-highlight-color: rgba(0, 0, 0, 0.2);
  /*滚动条阴影*/
  scrollbar-shadow-color: rgba(0, 0, 0, 0.2);
  /*滚动条轨道颜色*/
  scrollbar-track-color: rgba(144,147,153,.2);
  /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
  scrollbar-3dlight-color: rgba(144,147,153,.2);
  /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
  scrollbar-darkshadow-color: rgba(144,147,153,.2);
  /*滚动条基准颜色*/
  scrollbar-base-color: rgba(144,147,153,.2);
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  min-width: 600px;
  min-height: 500px;
}

@import "./html-tag";

#app {
  width: 100%;
  height: 100%;
}

@import "style-class";

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 1em;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.print-img-wrap {
  width: 0;
  height: 0;
  overflow: hidden;
  img {
    width: auto;
    height: auto;
  }
}

@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

// 表格对齐
body .el-table th.gutter {
  display: table-cell !important;
}
